<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sfim</title>
    <link href="../static/css/bootstrap.min_start.css" rel="stylesheet">
    <link href="../static/css/sfim_start.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.useso.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.useso.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <style>
        @font-face {
            font-family: 'neo';
            src: url("../static/font/NEOTERICc.ttf");
        }
        @font-face {
            font-family: 'Xiao Wei';
            src: url("../static/font/xiaowei.otf")
        }
    </style>
</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#page-top">Start Sfim</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li class="page-scroll">
					<a href="#about">关于Sfim</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<img class="img-responsive" src="../static/img/Sfim.png" width=120% height=120% alt="">
				<div class="intro-text">
                    <hr class="star-light">
					<span class="skills">文件管理和收发系统</span>
				</div>
                <div class="col-lg-8 col-lg-offset-2 text-center" style="font-family: 'neo'">
                    <a href="/home" class="btn btn-lg btn-outline" >Start Sfim</a>
                </div>
			</div>
		</div>
	</div>
</header>

<!-- About Section -->
<section class="success" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>关于Sfim</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2">
				<p>Sfim是一个文件管理和文件收发系统，其功能主要有</p>
			</div>
			<div class="col-lg-4">
				<p>应用场景：公司文件的管理，员工之间文件收发</p>
			</div>
		</div>
	</div>
</section>

<!-- Footer -->
<footer class="text-center">
	<div class="footer-above">
		<div class="container">
			<div class="row" style="font-family: 'Xiao Wei'">
				<div class="footer-col col-md-4">
					<h3>地址</h3>
					<p>中国传媒大学<br>中国北京市朝阳区定福庄东街1号</p>
				</div>
				<div class="footer-col col-md-4">
					<h3>技术支持</h3>
					<p>CUCers</p>
				</div>
				<div class="footer-col col-md-4">
					<h3>关于该项目</h3>
					<p>大创项目，网页端应用</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-below">
		<div class="container">
			<div class="row">
			</div>
		</div>
	</div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
	<a class="btn btn-primary" href="#page-top">
		<i class="fa fa-chevron-up"></i>
	</a>
</div>

<!-- jQuery -->
<script src="../static/js/jquery_start.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min_start.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="../static/js/classie_start.js"></script>
<script src="../static/js/cbpAnimatedHeader_start.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../static/js/sfim_start.js"></script>

</body>

</html>