<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="#" />
    <link type="text/css" rel="styleSheet"  href="../static/css/login_main.css" />
    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录Sfim</title>
    <style>
        .form .fa{
            color: wheat;
        }
        @font-face {
            font-family: 'neo';
            src: url("../static/font/NEOTERICc.ttf");
        }
        .vali_pass {
            width: 350px;
            margin: 0 auto;
            padding: 10px;
            border: #eee 1px solid;
            text-align: center;
        }
        .vali_pass input {
            width: 96%;
            display: block;
            margin: 0;
            padding: 5px;
            font-size: 14px;
            line-height: 20px;
        }
        .vali_pass_progress {
            margin-top: -2px;
            background-color: transparent;
            height: 2px;
            border-radius: 5px;
            margin-left: 17px;
        }
        .vali_pass_inner_progress {
            display: block;
            height: 100%;
            border-radius: 5px;
            width: 100%;
        }
    </style>
    <script type="text/javascript">
        window.onload = function(){
        //自动居中title
        var name_c = document.getElementById("title")
        name = name_c.innerHTML.split("")
        name_c.innerHTML = ""
        for (i = 0; i < name.length; i++)
            if (name[i] != ",")
                name_c.innerHTML += "<i>" + name[i] + "</i>"

        function hint() {
        let hit = document.getElementById("hint")
        hit.style.display = "block"
        setTimeout(function(){ hit.style.opacity = 1 }, 0)
        setTimeout(function(){ hit.style.opacity = 0 }, 2000)
        setTimeout(function(){ hit.style.display = "none" }, 3000)
        }

        var hitt = document.getElementById('hint').getElementsByTagName("p")[0];
        hitt.innerHTML = '{{message}}';
        hint();
        }
    </script>
</head>


<body>
    <div id="bg">
        <div id="hint"><!-- 提示框 -->
            <p>登录失败</p>
        </div>
        <div id="login_wrap">
            <div id="login"><!-- 登录注册切换动画 -->
                <div id="status">
                    <i style="top: 0">Log</i>
                    <i style="top: 35px">Sign</i>
                    <i style="right: 5px">in</i>
                </div>
                <span>
                    <div>
                        <form method="post" action="/login_register/" id="login_form">
                        <div id="login_block" style="display: block">
                        <p class="form">
                            <i class="fa fa-envelope"></i>
                            {{login_form.email(placeholder='email',id='email')}}
                        </p>
                        <p class="form">
                            <i class="fa fa-lock"></i>
                            {{login_form.password(placeholder='password',id='passwd')}}
                        </p>
                        <p>{{login_form.csrf_token}}</p>
                        {{login_form.login_sub(value="Log in",class='btn', id="login_sub",style="margin-right: 20px; display: inline-block")}}
                        <input type="button" class="btn" onclick="signin()" style="display: inline-block" id="signin_btn" value="Sign in">
                        </div>
                        </form>
                        <form method="post" action="/login_register/" id="register_form">
                        <div id="register_block" style="display: none">
                        <p class="form">
                            <i class="fa fa-envelope"></i>
                            {{register_form.email(placeholder='email',id='mail')}}
                        </p>
                        <p class="form">
                            <i class="fa fa-user"></i>
                            {{register_form.username(placeholder='username',id='user')}}
                        </p>
                        <p class="form">
                            <i class="fa fa-lock"></i>
                            {{register_form.password(onclick='PassStrong()', onkeyup='PassStrong()', placeholder='password',id='password')}}
                            <div class="vali_pass_progress">
                                <div class="vali_pass_inner_progress"></div>
                            </div>
                        </p>
                        <p class="form">
                            <i class="fa fa-lock"></i>
                            {{register_form.confirm_password(placeholder='confirm password',id='confirm-passwd')}}
                        </p>
                        <p>{{register_form.csrf_token}}</p>
                        <input type="button" class="btn" onclick="login()" id="login_btn" style="margin-right: 20px; display: inline-block" value="Log in">
                        {{register_form.signin_sub( class="btn",style="display: inline-block",id="signin_sub",value="Sign in")}}
                        </div>
                        </form>
                </div>
                    <a href="#">Forget your password?</a>
                </span>
            </div>

            <div id="login_img"><!-- 图片绘制框 -->
                <span class="circle">
                </span>
                <span class="star">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <span class="fly_star">
                    <span></span>
                    <span></span>
                </span>
                <p id="title">Sfim</p>
            </div>
        </div>
    </div>
</body>
<script>
    var onoff = true//根据此布尔值判断当前为注册状态还是登录状态
    // var confirm = document.getElementsByClassName("confirm")[0]
    var mail = document.getElementById("mail")
    var user = document.getElementById("user")
    var passwd = document.getElementById("passwd")
    var password = document.getElementById("password")
    var con_pass = document.getElementById("confirm-passwd")

    //引用hint()在最上方弹出提示
    function hint() {
        let hit = document.getElementById("hint")
        hit.style.display = "block"
        setTimeout(function(){ hit.style.opacity = 1 }, 0)
        setTimeout(function(){ hit.style.opacity = 0 }, 2000)
        setTimeout(function(){ hit.style.display = "none" }, 3000)
    }

    //注册按钮
    function signin() {
        let hit = document.getElementById("hint").getElementsByTagName("p")[0]
        let status = document.getElementById("status").getElementsByTagName("i")
        let register_form = document.getElementById("register_block")
        let login_form = document.getElementById("login_block")
        if (onoff) {
            status[0].style.top = 35 + "px"
            status[1].style.top = 0
            onoff = !onoff
            document.title="注册您的Sfim帐号"
            login_form.style="display: none"
            register_form.style="display: inline-block"
        }
    }
    //登录按钮
    function login() {
        if(!onoff)
        {
            let register_form = document.getElementById("register_block")
            let login_form = document.getElementById("login_block")
            let status = document.getElementById("status").getElementsByTagName("i")
            status[0].style.top = 0
            status[1].style.top = 35 + "px"
            onoff = !onoff
            document.title = "登录Sfim"
            login_form.style="display: block"
            register_form.style="display: none"
        }
    }

    function PassStrong(){
        var input_pass = document.getElementById('password').value
        var input_progress = document.getElementsByClassName("vali_pass_inner_progress")[0]
        var regxs = []
        regxs.push(/[^a-zA-Z0-9_]/g)
        regxs.push(/[a-zA-Z]/g)
        regxs.push(/[0-9]/g)
        var sec = 0
        if(input_pass.length >= 6){ //密码长度至少为6位
            for (var i = 0; i < regxs.length; i++){
                if(input_pass.match(regxs[i])){
                    sec++;
                }
            }
        }
        var result = (sec / regxs.length) * 100
        input_progress.style.width = result + '%'
        if(result > 0 && result <= 50)
            input_progress.className = 'vali_pass_inner_progress error'
        else if(result > 50 && result < 100)
            input_progress.className = 'vali_pass_inner_progress middle'
        else
            input_progress.className = 'vali_pass_inner_progress strong'
    }
</script>
</html>
